<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Business Solutions</title>
    <link rel="stylesheet" href="style.css" type="text/css" charset="utf-8" />
</head>

<body>

<a href="/logged">zaloguj ż ź ć ó ś ć</a>

<h2> {{content}} </h2>

</body>
</html>